*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-yellow: #ffc107;
    --color-orange: #fd8e33;
    --color-green: #198754;
    --color-heading-black: #212529;
    --color-text-black: #212529;
    --color-heading-white: #fff;
    --color-text-white: #fff;
}
::selection{
    background: rgb(100, 100, 243);
    color: #fff;
}


body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-white);
    background-color: #eeeeee;
}


h1, h2, h3{
    color: var(--color-heading-black);
}


@media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
  
    h1 {
      font-size: 8rem;
    }
  
    h2 {
      font-size: 4rem;
    }
  
    h3 {
      font-size: 2.4rem;
    }
  }

  a {
    text-decoration: none;
  }

  svg {
    width: 25px; 
    height: 25px;
    color: var(--color-orange);
  }

  /* navbar */
  .container-fluid .navbar-brand{
    font-size: 37.5px;
    font-weight: bold;
  }
  .navbar-brand span{
    color: var(--color-orange);
  }
  .navbar-toggler{
    padding: none;
  }
  .navbar-nav{
    margin-left: 0.8rem;
    font-weight: bold;
  }
  .nav-item{
    transition: 0.5s;
  }
  .nav-item:hover{
    background: var(--color-orange);
    color: white;
  }
  .nav-link{
    margin-left: 0.5rem;
    color: black;
  }
.d-flex .button{
  width: 78px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: var(--color-orange);
  color: var(--color-heading-white);
  cursor: pointer;
}

/* navbar */



/* header */
.container-content{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#img{
  width: 100%;
  height: 90vh;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/Images/NYC.jpg);
  background-size: cover;
}
.text{
  color: var(--color-heading-white);
  padding-top: 12rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.text h1{
  font-size: 40px;
  font-weight: bold;
}
.text .p1{
  font-size: 60px;
  font-weight: bolder;
}
.text .p1 span{
  color: #fd8421;
}
.text .p2{
  font-weight: 600;
}
.buutn{
  width: 130px;
  height: 45px;
  font-size: 17px;
  font-size: bold;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #000000;
  transition: ease-out 0.3s;
}
.buutn:hover{
  background: #fd8421;
  color: #fff;
}






/* Reservation */
.container-book{
  padding: 0 1rem;
  font-family: 'Poppins', sans-serif;
}
.header-book{
  margin-top: 1.5rem;
  text-align: center;
}
.header-book h1{
  font-weight: bolder;
  font-size: 2.5rem;
}
.header-book span{
  color: #fd8421;
}
.book img{
  margin-top: 2.5rem;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 #5a5959;
}

@media screen and (min-width:768px) {
  .container-book{
    margin: 0 2rem;
  }
  .book img{
    width: 90%;
    height: 92%;
    border-radius: 10px;
  }
  .form-book{
    width: 95%;
    height: 97%;
    margin-left: 1.2rem;
  }
  .grid {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
.form-book{
    margin-top: 0.55rem;
}
.form-book .mb-3{
  box-shadow: 0 4px 10px 0 #d1d1d1;
  border-radius: 8px;
}
.form-book .form-control{
  border: 1px solid white;
}
.mb-3 textarea {
  width: 100%;
  height: 130px;
  border: none;
  resize: none;
}
/* .mb-3 textarea::placeholder{
  width: 100%;
  height: 100%;
  border: none;
} */
.btn-book{
  width: 150px;
  height: 43px;
  font-weight: bold;
  color: white;
  border: 1px  #f8931f;
  border-radius: 7px;
  background: #f8931f;
}




/* Packages */
.container-package{
  padding: 0 1rem;
  font-family: 'Poppins', sans-serif;
}
.container-package header{
  margin-top: 2rem;
  text-align: center;
}
.container-package header h1{
  font-weight: bold;
  font-size: 2.5rem;
}
.container-package h1 span{
  color: #fd8421;
}
.card{
  margin-top: 1rem;
  box-shadow: 0 3px 10px 0 #d1d1d1;
  border: none;
}
.card img{
  width: 100%;
  height: 330px;
}
.card h3{
  font-weight: bold;
  margin-bottom: 0;
}
.card-text{
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.price svg{
  width: 16px;
  height: 16px;
}
.price p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.price .btn-book{
  width: 105px;
  height: 35px;
}
@media screen and (min-width:768px) {
  .container-package{
    margin: 0 2rem;
  }
  .card .image1 {
    height: 283.8px;
  }
  .card .image2{
    height: 283.8px;
  }
  .container-package .card{
    width: 95%;
    height: 90%;
    margin-top: 0;
  }
  .grid2{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: grid;
  grid-template: repeat(2, 50%) / repeat(3, 33%);
  }
  
}

/* Packages */


/* Services */
.container-service {
  padding: 0 1rem;
  font-family: 'Poppins', sans-serif;
}

.container-service header {
  margin-top: 2rem;
  text-align: center;
}

.container-service header h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

.container-service h1 span {
  color: #fd8421;
}
.container-service .card{
  margin-top: 1.5rem;
  cursor: pointer;
}
.card-body {
  text-align: center;
}
.svg{
  height: 130px;
  margin-left: 1rem;
}
.container-service .card-title h3{
  font-weight: bolder; 
}
.container-service .card-body p{
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (min-width:768px) {
    .container-service {
        margin: 0 2rem;
      }
    .container-service .card{
        width: 95.5%;
        height: 90%;
    }
    .grid3{
        width: 100%;
        height: 100%;
        margin-left: 1rem;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
     }
}
/* Services */


/* Gallery */
.container-gallery{
  padding: 0 1rem;
}
.container-gallery header {
  margin-top: 2rem;
  text-align: center;
}

.container-gallery header h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

.container-gallery h1 span {
  color: #fd8421;
}
.container-gallery .card{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 #d1d1d1;
  
}
.container-gallery img{
  width: 100%;
  height: 260px;
}
@media screen and (min-width:768px) {
  .container-gallery {
    margin: 0 2rem;
  }

  .container-gallery .card {
    width: 95%;
    height: 90%;
  }

  .grid3 {
    width: 100%;
    height: 100%;
    margin: 0 1.5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
  }
}
/* Gallery */


